{# This software is in the public domain. Where that dedication is not
   recognized, you are granted a perpetual, irrevocable license to copy,
   distribute, and modify this file as you see fit. #}
<!-- If you want to use this information to create your own app or service,
     please, don't use this site as an API.
     It runs on the free tier of Google App Engine, and the quotas are very
     limited. The source code is available and easy to read and port, use
     that instead. Thanks. -->
<ul>
    <li>App name: {{data.name}}
    <li>Current version: {{data.version}}
    <li>Last updated on: {{data.last_updated}}
    <li>First published on: {{data.release_date}}
    <li>
        <a href="{{data.download_link|safe}}">
            Download {{data.package_format}} ({{data.package_size}} MB)
        </a>
</ul>
