{# This software is in the public domain. Where that dedication is not
   recognized, you are granted a perpetual, irrevocable license to copy,
   distribute, and modify this file as you see fit. #}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>WP Snitch</title>
        <style>
            body { font-family: sans-serif; }
            input[type=text] { width: 300px; }
            p.intro em { cursor: pointer; }
        </style>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link rel="shortcut icon" type="image/gif" href="data:image/gif;base64,
            R0lGODlhEAAQAKU8AAAAAAAAOUIAAAAgISEgACEgIUIgADEwMQBBQlIwMSFBISFBQjk8OUJBAHMw
            MUJBQmNBAJQwMQBdWjFRUgBhY1JRMVJRUjldWnNRMVpdOVpdWpRRMTFta2NhYwB9ezFxcwCChGtt
            a6VhY3Nxc5RxMTGOjACenHt9e3t9vaWCY2OenJSSlDGurWOipZyenKWipa2urbWytb2+nL2+vb2+
            3sbDxmPf3s7Pzt7fvd7f3nv//+/v7////////////////yH5BAEKAD8ALAAAAAAQABAAAAa+QJAQ
            REkkDA0EAoSgDIkCB0YkInU0B6JTmIhsLEZSpZNlChFUUmiX6xBqBecSlKBiXDgYOxcbURASdCIb
            GTwVKyc8PDA1IwA2ggkyMzkoNIptNQ8lTCkNhx1rOTyZHRxCCgoUATSJFRCaHTWnTwgXNwcYHSsP
            uyVKJycTFH8HBx0LHQ8TLQAMBQwdA39CAxwfAyYsAy4XGi8PS0ocNqaQxCE5mmYINjYqKiZPBw8L
            4uQ2HvJPHDrsLBwm7AMRBAA7">
    </head>
    <body>
        <p class="intro">
            <strong>Enter the URL of any app on the Windows Store to know when it was last updated.</strong><br>
            Example: <em>https://www.microsoft.com/en-us/store/p/instagram/9nblggh5l9xt</em>
        </p>
        <form>
            <input type="text" name="url">
            <input type="submit">
        </form>
        <p id="status"></p>
        <p>
            <a href="https://www.reddit.com/message/compose/?to=svn">Contact</a>
            ‐
            <a href="https://gitlab.com/subversion/wpsnitch">Source code</a>
        </p>

        <script src="/static/script.js"></script>
    </body>
</html>
